<div class="container">
  <div class="filter-container">
    <h1 (click)="resetCities()">Weather App</h1>
    <div>
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [(ngModel)]="selectedTempType"
      >
        <mat-button-toggle value="celsius">Celsius</mat-button-toggle>
        <mat-button-toggle value="fahrenheit">Fahrenheit</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field class="city-select">
        <mat-label>Select a City</mat-label>
        <mat-select
          name="city"
          [(ngModel)]="selectedCity"
          (ngModelChange)="getCity()"
        >
          <mat-option value="0">All</mat-option>
          <mat-option *ngFor="let city of citiesList" [value]="city.id">{{
            city.city
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          [(ngModel)]="selectedDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              (click)="applyDateFiltration()"
            >
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="cities-container">
    <app-weather-card
      *ngFor="let city of cities"
      [city]="city"
      [tempType]="selectedTempType"
    ></app-weather-card>
  </div>
</div>
