.container {
  .filter-container {
    background-color: #41a7f7;
    padding: 15px;
  }

  .cities-container {
    min-height: 100vh;
    background-color: #e2f2ff;
    display: grid;
    grid-template-columns: auto;
    padding: 25px;
  }
}
